<!DOCTYPE css>

<css>
<style>

table, tr, td { background-color: ffffff; border:solid; border-width:0px;}
body {background-color:#ffffff;}
table table table table {border:0px;}
table table table {border-style:solid; border-width: 0px; padding: 0px; background-color: F7F7F7;} table, tr, td, li, p, div, .text {font-family: helvetica; color:#322a2c; font-size:10px;}



p {text-align: justify;}

B {font: bold 9px consolas; text-transform: uppercase;letter-spacing: 2px; color: 474747; line-height:9px;}

I {font: italic 10px georgia; text-transform:none; color: 666666; line-height:8px;}

u { font-family:small fonts; font-size: 8.5px; letter-spacing: 2px; text-decoration:none; border-bottom:0px dotted; color:bbc5d6; background-color: transparent; text-transform:none; line-height:9px!important;}

small {font: 7px helvetica; text-transform:uppercase; color: 656565; line-height:7px; letter-spacing:1px;}

body {font: 8px helvetica;line-height: 15px;letter-spacing:0.5px;text-align: justify;}

h1{
  font-family: helvetica;
  font-size:55px;
  text-align: center;
  color: #32282b;
  font-weight: 45px;
  line-height: 3px;
text-transform: uppercase;
font-style:italic;
font-weight:bold;
letter-spacing:-2px;
}


h2{
  font-family: helvetica;
  font-size: 11px;
  text-align: center;
  color: #32282b;
  font-weight: 12px;
  line-height: 3px;
text-transform: uppercase;
font-style:;
letter-spacing:2px;
}


.first
{

}


/*****Responsive for Larger Screens*******/
@media only screen and (min-width: 900px)  {
/*sets the header image to full screen width*/
  header {
    background-size: 100% auto;
  }

  /*sets the nav bar with flex box to be horizontal if enough width*/
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*sets width of nav list items*/
  nav ul li {
    width: 20rem;
}


</style>
</css>
